Scripts/Lista_BM_B4467V.py
Scripts/Lista_BM_final.py
Scripts/Lista_BM_programa_12mpp.py
Scripts/programa_exportacao TUDO.ipynb
Scripts/programa_exportacao_TUDO.py
Scripts/programa_exportacao.ipynb
Scripts/TESTE.ipynb
Windows/Plano_de_Fundo_BI.pptx